#gallery {
  left: 0;
  position: absolute;
  transition: all 1s;
  height: 100vh;
  display: none;
  .welcome-title {
    margin-top: 50px;
  }
  .upload-icon {
    font-size: 24px;
    color: rgb(250, 234, 15);
    cursor: pointer;
    padding: 20px;
    transition: 0.5s;
    right: 0;
    top: 0;
    position: absolute;
    &:hover {
      color: rgb(250, 140, 15);
    }
  }
  .upload-btn {
    display: none;
  }

  .upload-image {
    position: absolute;
    right: 0;
    top: 0;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 100px;
    justify-content: center;
    align-items: center;
    a {
      overflow: hidden;
      position: relative;
      img {
        transition: 0.8s;
        position: relative;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
h2 {
  color: white;
}
