.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000008a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.popup img {
  height: 600px;
}

.popup .inner {
  position: relative;
  border: 8px solid #fff;
}

.popup .inner .close-icon {
  position: absolute;
  top: -18px;
  right: -14px;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
}

.popup .inner .close-icon i {
  color: white;
  font-size: 25px;
}

.popup .inner .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 45%;
}

.popup .inner .arrows i {
  cursor: pointer;
  color: white;
  font-size: 25px;
}

#login {
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#login .login {
  width: 20%;
  position: relative;
  height: 150px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.21em;
  --top-offset: 67.19vh;
  --fall-duration: 9.609s;
  --fall-delay: 2.917s;
}

.star:nth-child(2) {
  --star-tail-length: 6.5em;
  --top-offset: 30.18vh;
  --fall-duration: 8.932s;
  --fall-delay: 7.281s;
}

.star:nth-child(3) {
  --star-tail-length: 7.37em;
  --top-offset: 6.56vh;
  --fall-duration: 6.988s;
  --fall-delay: 2.262s;
}

.star:nth-child(4) {
  --star-tail-length: 5.82em;
  --top-offset: 95.72vh;
  --fall-duration: 9.406s;
  --fall-delay: 3.567s;
}

.star:nth-child(5) {
  --star-tail-length: 7.43em;
  --top-offset: 6.19vh;
  --fall-duration: 6.819s;
  --fall-delay: 7.56s;
}

.star:nth-child(6) {
  --star-tail-length: 7.16em;
  --top-offset: 95.62vh;
  --fall-duration: 10.141s;
  --fall-delay: 0.309s;
}

.star:nth-child(7) {
  --star-tail-length: 7.18em;
  --top-offset: 30.88vh;
  --fall-duration: 8.52s;
  --fall-delay: 7.39s;
}

.star:nth-child(8) {
  --star-tail-length: 7.3em;
  --top-offset: 49.7vh;
  --fall-duration: 8.044s;
  --fall-delay: 4.096s;
}

.star:nth-child(9) {
  --star-tail-length: 6.59em;
  --top-offset: 52.78vh;
  --fall-duration: 11.086s;
  --fall-delay: 2.773s;
}

.star:nth-child(10) {
  --star-tail-length: 6.04em;
  --top-offset: 86.1vh;
  --fall-duration: 10.943s;
  --fall-delay: 9.533s;
}

.star:nth-child(11) {
  --star-tail-length: 5.37em;
  --top-offset: 70.76vh;
  --fall-duration: 9.233s;
  --fall-delay: 0.618s;
}

.star:nth-child(12) {
  --star-tail-length: 7.28em;
  --top-offset: 21.77vh;
  --fall-duration: 6.72s;
  --fall-delay: 1.739s;
}

.star:nth-child(13) {
  --star-tail-length: 5.54em;
  --top-offset: 29.74vh;
  --fall-duration: 8.423s;
  --fall-delay: 1.232s;
}

.star:nth-child(14) {
  --star-tail-length: 6.57em;
  --top-offset: 37.95vh;
  --fall-duration: 11.667s;
  --fall-delay: 0.914s;
}

.star:nth-child(15) {
  --star-tail-length: 6.81em;
  --top-offset: 83vh;
  --fall-duration: 9.288s;
  --fall-delay: 5.804s;
}

.star:nth-child(16) {
  --star-tail-length: 6.16em;
  --top-offset: 8.68vh;
  --fall-duration: 10.473s;
  --fall-delay: 4.7s;
}

.star:nth-child(17) {
  --star-tail-length: 6.95em;
  --top-offset: 47.81vh;
  --fall-duration: 11.562s;
  --fall-delay: 5.22s;
}

.star:nth-child(18) {
  --star-tail-length: 6.01em;
  --top-offset: 91.07vh;
  --fall-duration: 6.391s;
  --fall-delay: 6.785s;
}

.star:nth-child(19) {
  --star-tail-length: 5.87em;
  --top-offset: 82.19vh;
  --fall-duration: 11.491s;
  --fall-delay: 4.583s;
}

.star:nth-child(20) {
  --star-tail-length: 5.13em;
  --top-offset: 77.02vh;
  --fall-duration: 8.527s;
  --fall-delay: 4.986s;
}

.star:nth-child(21) {
  --star-tail-length: 7.25em;
  --top-offset: 34vh;
  --fall-duration: 9.052s;
  --fall-delay: 8.748s;
}

.star:nth-child(22) {
  --star-tail-length: 6.48em;
  --top-offset: 5.2vh;
  --fall-duration: 10.299s;
  --fall-delay: 5.348s;
}

.star:nth-child(23) {
  --star-tail-length: 5.82em;
  --top-offset: 68.52vh;
  --fall-duration: 11.434s;
  --fall-delay: 2.304s;
}

.star:nth-child(24) {
  --star-tail-length: 5.73em;
  --top-offset: 86.83vh;
  --fall-duration: 6.925s;
  --fall-delay: 5.553s;
}

.star:nth-child(25) {
  --star-tail-length: 6.58em;
  --top-offset: 43.52vh;
  --fall-duration: 9.249s;
  --fall-delay: 6.526s;
}

.star:nth-child(26) {
  --star-tail-length: 7.27em;
  --top-offset: 84.53vh;
  --fall-duration: 9.55s;
  --fall-delay: 4.108s;
}

.star:nth-child(27) {
  --star-tail-length: 7.35em;
  --top-offset: 95.44vh;
  --fall-duration: 10.725s;
  --fall-delay: 9.901s;
}

.star:nth-child(28) {
  --star-tail-length: 5.75em;
  --top-offset: 39.71vh;
  --fall-duration: 6.956s;
  --fall-delay: 7.557s;
}

.star:nth-child(29) {
  --star-tail-length: 5.15em;
  --top-offset: 75.06vh;
  --fall-duration: 8.859s;
  --fall-delay: 0.428s;
}

.star:nth-child(30) {
  --star-tail-length: 6.6em;
  --top-offset: 95.65vh;
  --fall-duration: 10.725s;
  --fall-delay: 0.22s;
}

.star:nth-child(31) {
  --star-tail-length: 6.4em;
  --top-offset: 6.56vh;
  --fall-duration: 6.702s;
  --fall-delay: 2.334s;
}

.star:nth-child(32) {
  --star-tail-length: 5.78em;
  --top-offset: 23.42vh;
  --fall-duration: 6.36s;
  --fall-delay: 7.96s;
}

.star:nth-child(33) {
  --star-tail-length: 7.27em;
  --top-offset: 75.66vh;
  --fall-duration: 10.409s;
  --fall-delay: 0.032s;
}

.star:nth-child(34) {
  --star-tail-length: 5.1em;
  --top-offset: 26.15vh;
  --fall-duration: 6.602s;
  --fall-delay: 1.215s;
}

.star:nth-child(35) {
  --star-tail-length: 6.3em;
  --top-offset: 52.09vh;
  --fall-duration: 10.286s;
  --fall-delay: 7.287s;
}

.star:nth-child(36) {
  --star-tail-length: 6.39em;
  --top-offset: 18.47vh;
  --fall-duration: 8.114s;
  --fall-delay: 4.395s;
}

.star:nth-child(37) {
  --star-tail-length: 5.59em;
  --top-offset: 50.45vh;
  --fall-duration: 10.689s;
  --fall-delay: 4.297s;
}

.star:nth-child(38) {
  --star-tail-length: 5.66em;
  --top-offset: 45.86vh;
  --fall-duration: 6.926s;
  --fall-delay: 4.814s;
}

.star:nth-child(39) {
  --star-tail-length: 6.52em;
  --top-offset: 26.49vh;
  --fall-duration: 11.8s;
  --fall-delay: 8.614s;
}

.star:nth-child(40) {
  --star-tail-length: 5.56em;
  --top-offset: 54.7vh;
  --fall-duration: 6.87s;
  --fall-delay: 1.52s;
}

.star:nth-child(41) {
  --star-tail-length: 6.25em;
  --top-offset: 85.77vh;
  --fall-duration: 11.134s;
  --fall-delay: 3.432s;
}

.star:nth-child(42) {
  --star-tail-length: 6.51em;
  --top-offset: 91.35vh;
  --fall-duration: 10.583s;
  --fall-delay: 5.903s;
}

.star:nth-child(43) {
  --star-tail-length: 7.04em;
  --top-offset: 96.4vh;
  --fall-duration: 10.523s;
  --fall-delay: 4.956s;
}

.star:nth-child(44) {
  --star-tail-length: 7.43em;
  --top-offset: 3.38vh;
  --fall-duration: 11.832s;
  --fall-delay: 7.014s;
}

.star:nth-child(45) {
  --star-tail-length: 7.12em;
  --top-offset: 67.86vh;
  --fall-duration: 8.406s;
  --fall-delay: 7.729s;
}

.star:nth-child(46) {
  --star-tail-length: 6.92em;
  --top-offset: 29vh;
  --fall-duration: 10.674s;
  --fall-delay: 6.142s;
}

.star:nth-child(47) {
  --star-tail-length: 6.05em;
  --top-offset: 66vh;
  --fall-duration: 11.174s;
  --fall-delay: 1.132s;
}

.star:nth-child(48) {
  --star-tail-length: 7.48em;
  --top-offset: 2.01vh;
  --fall-duration: 10.45s;
  --fall-delay: 5.756s;
}

.star:nth-child(49) {
  --star-tail-length: 6.75em;
  --top-offset: 75.98vh;
  --fall-duration: 6.206s;
  --fall-delay: 0.291s;
}

.star:nth-child(50) {
  --star-tail-length: 6.34em;
  --top-offset: 61.92vh;
  --fall-duration: 11.966s;
  --fall-delay: 4.301s;
}

.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

#gallery {
  left: 0;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 100vh;
  display: none;
}

#gallery .welcome-title {
  margin-top: 50px;
}

#gallery .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery .images a {
  overflow: hidden;
  position: relative;
}

#gallery .images a img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
}

#gallery .images a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

h2 {
  color: white;
}
/*# sourceMappingURL=style.css.map */